/**
 * 04. Widget
 */
.greet-bubble-widgets{

  > .greet-bubble-field{
    position: relative;
    top: -1px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 12px 15px;

    .greet-bubble-title{
      float: none;
      width: 100%;
      margin-bottom: 5px;
    }

    .greet-bubble-fieldset{
      float: none;
      width: 100%;
    }
  }

  .greet-bubble-field-text input{
    width: 100%;
  }

  .greet-bubble-field-notice .greet-bubble-notice{
    padding: 15px;
  }
}

.control-section{

  .greet-bubble-widgets{

    > .greet-bubble-field{
      margin-left: -10px;
      margin-right: -10px;
      padding: 10px 12px;
    }
  }
}

.wp-block{

  .greet-bubble-widgets{
    font-size: 13px;

    > .greet-bubble-field{
      margin-left: -10px;
      margin-right: -10px;

      .button-primary{
        color: #fff;
      }

      > .greet-bubble-title{

        > h4{
          font-size: 13px;
        }
      }
    }
  }
}
