/**
 * 12. Responsive
 */
@media only screen and (max-width:1200px){

  .greet-metabox{

    .greet-field{

      .greet-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      .greet-fieldset{
        float: none;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width:782px){

  .greet-header-inner{
    text-align: center;

    h1{
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .greet-form-result{
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .greet-search,
  .greet-header-right,
  .greet-header-left{
    width: 100%;
  }

  .greet-search{
    text-align: center;
    margin-bottom: 15px;
  }

  .greet-footer{
    text-align: center;
  }

  .greet-buttons{
    float: none;
  }

  .greet-copyright{
    float: none;
    margin-top: 10px;
  }

  .greet-nav,
  .greet-expand-all,
  .greet-reset-section,
  .greet-nav-background{
    display: none !important;
  }

  .greet-nav-normal + .greet-content{
    margin-left: 0;
  }

  .greet-section-title,
  .greet-section{
    display: block !important;
  }

  .greet-field{

    .greet-title{
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }

    .greet-fieldset{
      float: none;
      width: 100%;
    }
  }

  .greet-field-color{

    .button.wp-picker-clear{
      padding: 0 8px;
      line-height: 2.14285714;
      min-height: 32px;
    }
  }

  .greet-profile-options,
  .greet-taxonomy-edit-fields{

    > .greet-field{

      > .greet-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      > .greet-fieldset{
        float: none;
        width: 100%;
      }
    }
  }

  .greet-nav-menu-options{

    > .greet-fields{
      margin-left: -10px;
      margin-right: -10px;

      > .greet-field{
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 782px) {

  .greet-modal{

    .greet-modal-inner{
      width: 90%;
    }
  }
}

@media only screen and (max-height: 750px) {

  .greet-modal{

    .greet-modal-inner{
      height: auto;
    }

    .greet-modal-content{
      height: calc(100vh - 200px);
    }
  }
}
